@import '../../theme/colors.css';
.active{
    width: 270px;
}

.input{
    position: relative;
    width: 100%;
}

.cancel{
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 100;
}

.cancel .cancel-icon{
    width: 20px;
    height: 20px;
}

.active .search-icon{
    display: none;
}

.search-link{
    display: none;
}

.active .search-link{
    display: block;
}

.search-link{
    color: rgb(240, 240, 240);
}

.search-comp{
    background-color: var(--icon-color);
}


.history{
    position: absolute;
    background-color: var(--background2-color);
    width: 240px;
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;
    top: 70px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--background-color);
    border: 1px solid var(--box-border-color);
    opacity: 0;
    display: none;
    transition: all 0.5s;
    
}
.history-icon{
    font-size: 22px;
    margin-right: 10px;
}

.history p{
    font-size: 20px;
}

.history.active{
    display: block;
    opacity: 1;
}

.history .info{
    margin-bottom: 20px;
    padding: 0px 5px;
    transition: all 0.5s;
}

.history .info:hover{
    
    background: var(--icon-color);
}

@media (max-width: 425px) {
    .history.active{
        display: none;
    }
}