@import '../../theme/colors.css';

.navBar{
  border-bottom: 0.5px solid var(--border-color);
  background-color: var(--background-color);
}

.side-btn{
    display: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* contrast effect */
  z-index: 1000;
}
.sidebar{
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  background-color: var(--background-color);
  border-right: 0.5px solid var(--border-color);
}
.sideLinks{
  background-color: var(--background-color);
}
.side-logo{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  border-bottom: 0.5px solid var(--border-color);
  width: 100%;
  padding-bottom: 22px;
  padding-left: 10px;
}
.iconNav{
  font-size: x-large;
  
}
.pagesLinks{
  border-bottom: 0.5px solid var(--border-color);
  padding-bottom: 30px;
}



.searchIconSide{
  display: none;
}
.pageLink{
  transition: background-color 0.5s ease;
}

.pageLink.activelink,
.pageLink:hover{
  background-color: var(--icon-color);
}



@media (max-width: 720px) {
  .sidebar {
    transform: translateX(-100%);
    z-index: 1002;
  }

  .sidebar.open {
    transform: translateX(100%);
  }
  .side-btn{
    display: block;
}
}
@media (max-width: 425px) {
  .sidebar {
    width: fit-content;
  }
  .searchIconSide{
    display: block;
  }
  .searchIconNav{
    display: none;
  }
}



